*{
	margin: 0;
    padding: 0;
    font-family: Poppins;

}
/*navbar styling*/
.logo-size {
    width: 4%;
}
.navbarMar {
    margin-left: 60px;
}
.navbarMar li a{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
.first-navbar .navbarMar .active>.nav-link,.first-navbar .navbarMar .nav-link.active,.first-navbar .navbarMar .nav-link.show, .first-navbar .navbarMar .show>.nav-link{
    color: unset;
}
.navbarkistyling{

    z-index: 99;
    width: 100%;
    background: white;
}
/*dropdown menu */
.Nav-drop li:hover ul {
    display: block;
}

.Nav-drop li a {
    padding: 20px;

}

.Nav-drop li a i {
    font-size: 12px;
}

.custom-dropdown {
    position: absolute;
    top: 60px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.custom-dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.custom-dropdown-item>a {
    text-decoration: none;
    color: #212529;
    padding: 0 !important;
}

.custom-dropdown-item:hover {
    background-color: #e45447;

}
.custom-dropdown-item:hover a{
    color: #fff;
    text-decoration: none;

}
.title{
	    font-size: 60px;
    margin-bottom: 0;
    text-transform: capitalize;
  
}
.blog{
	padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}
.blog-items{
	font-size: 18px;
    text-transform: capitalize;
    color: #232323;
    font-weight: 500;
    letter-spacing: normal;
    list-style-type: none;
}
.blog .blog-items a{
	color: black;
	text-decoration: none;
}
.blog .blog-items a i{
	color: black;
}
.blog-content{
	    position: relative;
    z-index: 1;

}
/<!-- Project Details Start -->/
.mb-30{
	margin-bottom: 30px;
}
.mb-80{
	margin-bottom: 80px;
}
.mt-30{ 
	margin-top: 30px
}
.mb-15{
	margin-bottom: 15px;
}
.mt-25{
	margin-top: 25px;
}
.mt-15{
	margin-bottom: 15px;
}
.mb-22{
	padding-bottom: 22px;
}
.mb-50{
	margin-bottom: 50px;
}
.post-text .post-content .post-date{
font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a6a6a6;
    display: block;
    margin-bottom: 15px;
    font-weight: 600;

 }

.post-text .post-content .head{
 	    color: #232323;
    font-size: 36px;
    display: block;
    margin-bottom: 15px;
 }
.post-text .post-content .post-meta a{
	font-size: 16px;
    color: #a6a6a6;
    display: inline-block;
    margin-right: 15px;
}
.blog-content p{
	font-size: 16px;
    color: #232323;
}

.raheel-blockquote{
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 30px;
}
.raheel-blockquote h5{
	font-size: 22px;
    font-style: italic;
    margin-bottom: 15px;
    color: #232323;
    line-height: 1.6;
    font-weight: 400;
}
.raheel-blockquote h6{
	color: #a6a6a6;
    font-size: 16px;
}
.post-categories{
	margin: 50px 0;
}
.post-categories ul li{
	list-style-type: none;
}
.post-categories ul li a{
	display: inline-block;
    padding: 8px 20px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color: #232323;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 3px;
    text-decoration: none;
}
.raheel-post-share .social-info a{
	display: inline-block;
    color: #232323;
    font-size: 16px;
    margin-right: 15px;
}
/News Area/
.news-area{

    padding-top: 50px;
    border-top: 1px solid #ebebeb;
    margin-bottom: 20px;

}
.blog-post .post-content .post-title{
	font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    color: black;
    text-decoration: none;
}
/comment area/
.comment_area{
	border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding-top: 50px;
    padding-bottom: 50px;
}
.comment_area .title{
	margin-bottom: 30px;
    font-size: 30px;

}
.comment_area ol li{
	list-style-type: none;
}
.comment_area .comment-content .comment-author{

flex: 0 0 70px;
    width: 70px;
    max-width: 70px;
    margin-right: 20px;
    border-radius: 50%;
}
.comment_area .comment-content .comment-meta .post-date {
    color: #a6a6a6;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.comment_area .comment-content .comment-meta h5 {
    margin-bottom: 5px;
}
.comment_area .comment-content .comment-meta p {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
}
.comment_area .comment-content .comment-meta .Like, .comment_area .comment-content .comment-meta .Reply {
    display: inline-block;
    padding: 5px 15px 3px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #ebebeb;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.comment_area .children {
    margin-left: 50px;
}
.raheel-contact-form .form-control {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 0;
}
.raheel-contact-form textarea.form-control {
    height: 110px;
    padding: 20px;
}
.btn-contact {
	color:#fff;
	background-color: #e45447;
	padding: 15px 30px;
    border-radius: 40px;
    font-weight: 500;
    text-transform: capitalize;
}

.btn-contact{
	text-decoration: none;
	color: white;
}
.btn-contact:hover{
	text-decoration: none;
	color: #e45447;
	background-color: white;
	transition: .1s;
	border: 1px solid #e45447;
}
/col-md-4/
.search-widget-area form input {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    height: 45px;
    border: 1px solid #ebebeb;
    background-color: transparent;
    padding: 0 15px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 0;
}
.search-widget-area form button {
    width: 50px;
    height: 45px;
    background-color: #e45447;
    padding: 0 15px;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 48px;
    right: 16px;
    z-index: 100;
    cursor: pointer;
    line-height: 45px;
}
.single-widget-area .widget-title {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: capitalize;
}
.single-news-area img{
	width: 145px;

}
.single-news-area .blog-content {
    margin-left: 20px;
}
.single-news-area .blog-content .post-title {
    font-size: 18px;
    color: #232323;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.single-news-area  .blog-content a{
	text-decoration: none;
}
.single-news-area .blog-content .post-date {
    color: #a6a6a6;
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
/*Footer Starts*/

.footer-top .footer-logo {
    text-align: center;
}
.footer-area .footer-logo a{
    text-decoration: none;
}
.footer-area .footer-logo h4 {
    font-size: 21px;
    color: #777;
    font-weight: 700;
    margin-top: -30px;
}
.footer-logo a img {
    width: 250px;
}
.footer-area .footer-social {
    text-align: center;
    margin: 25px 0 ;
}
.footer-area .footer-social a {
    padding: 0 20px;
    text-decoration: none;

}
.footer-area .footer-social a i {
    color: #ccc;
    font-size: 36px;
    transition: all .3s ease 0s;
}
.footer-area .footer-social a i:hover{
    color: #e45447;
}
.hov:hover{
    color: #e45447;
    
}
/*Newsletter*/
#section-cta {
    background: url(../../templates.thememodern.com/compact/images/bg/bg-team.jpg) top fixed;
}

section {
    padding: 60px 0 60px 0;
    background: #fff;
}
section {
    -webkit-background-size: 100% !important;
    -moz-background-size: 100% !important;
    -o-background-size: 100% !important;
    background-size: 100% !important;
    position: relative;
}
.sep-background-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #29b6f6;
    opacity: .9;
    z-index: 1;
}
section > .container {
    position: relative;
    z-index: 2;
}
.quick_newsletter .newsletter-info {
    color: #f8f8f8;
}
.quick_newsletter .newsletter-info {
  color: #f8f8f8;
}
.quick_newsletter .newsletter-info h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0px;
  color: #f8f8f8;
}
.quick_newsletter .newsletter-element .input-text {
  background-color: #f8f8f8;
  padding: 15px 20px;
  display: inline-block;
  border: none;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.quick_newsletter .newsletter-element .newsletter-submit {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  line-height: 21px;
  padding: 16px 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
  position: relative;
  display: inline-block;
  background-color: #555555;
}
.quick_newsletter .newsletter-element .newsletter-submit:hover {
  background-color: #666565;
}
.quick_newsletter .newsletter-element .newsletter-submit i {
  margin-right: 5px;
}
.quick_newsletter p {
  margin-bottom: 0px;
}
@media only screen and (max-width: 767px){
.newsletter-element .input-text, .newsletter-element .newsletter-submit {
    margin-top: 20px;
}}
.bg-pp{
    background: #e45447;
    color: #fff;
}
.blog-items a{
    color: #fff !important;
}
.search-he{
        height: 45px !important;

}
/Technow Service/

.service-area {
    background: #f9f9ff;
}
.section-title {
    margin-bottom: 80px;
}
.section-title h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 70px;
    text-transform: capitalize;
    position: relative;
    line-height: 44px;
}
.section-title p {
    max-width: 535px;
    margin-bottom: 0;
}

.service-area .col-lg-3.col-md-6:nth-child(1) .single-service {
    background: #e2a599;
}
.service-area .col-lg-3.col-md-6:nth-child(2) .single-service {
    background: #715f69;
}
.service-area .col-lg-3.col-md-6:nth-child(3) .single-service {
    background: #e45447;
}
.service-area .col-lg-3.col-md-6:nth-child(4) .single-service {
    background: #90acd1;
}
.single-service .lnr {
    font-size: 36px;
    color: #fff;
 }
.single-service {
    color: white;
    padding: 60px 30px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-service h4 {
    color: #fff;
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.section-title h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 10px;
    height: 10px;
    background: #e45447;
    border-radius: 7px;
}
.section-title h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -31px;
    width: 100px;
    height: 2px;
    background: #e45447;
}
/* Slider css
============================================================================================ */
.home-demo{
    background-image: url(../img/slider-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}
.font-big{
    visibility: inherit;
    transition: none 0s ease 0s;
    line-height: 82px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 72px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    text-align: left;

}
.team_people_area{
    overflow: hidden;
    padding-top: 90px;
}
.team_people_text {
    max-width: 540px;
    float: right;
}
.l_title{
    padding-bottom: 55px;
}
.l_title img{
    width: 41%;
    padding-bottom: 28px;
}
.l_title h6 {
    font-size: 14px;
    
    font-weight: bold;
    text-transform: uppercase;
    color: #7c8d93;
    padding-bottom: 10px;
}
.l_title h2 {
    font-size: 48px;
    color: #0b1033;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-top: 25px;
}
.team_people_text p {
    color: #7c8d93;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 25px;
}
.team_people_text ul {
    padding-left: 20px;
}
.team_people_text ul li {
    width: calc(100% / 2);
    float: left;
    margin-bottom: 15px;
    color: #7c8d93;
}
.team_img_inner {
    max-width: 591px;
    margin-bottom: -20px;
    margin-left: 150px;
}
.team_img_inner .team_img_item {
    overflow: hidden;
    padding: 0px 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

img {
    max-width: 100%;
}
#team {
    padding: 150px 0;
}
#fun-fact, #team {
    background: #f6f7fe;
}
#team .team-section-text {
    padding-top: 70px;
}
.section-count, .section-title {
    font-family: 'Josefin Sans',sans-serif;
}
.section-count {
    height: 120px;
    overflow: hidden;
    font-weight: 100;
}
.section-count>span {
    color: #e6e9f4;
    display: block;
    font-size: 220px;
    line-height: .7em;
}
/*.section-title {
    color: #3e6edf;
    font-size: 48px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 20px;
}*/
.section-text>p {
    margin-bottom: 15px;
}

#team {
    padding: 150px 0
}

#team .team-section-text {
    padding-top: 70px
}

#team .team-single {
    border: 8px solid #e6e9f4;
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    display: none
}

#team .team-single.active {
    display: block
}

#team .team-list>ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#team .team-list>ul>li {
    position: relative;
    margin: 15px 0
}

#team .team-list>ul>li:first-child {
    margin-top: 0
}

#team .team-list>ul>li:last-child {
    margin-bottom: 0
}

#team .team-list>ul>li.active>a>figure:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(131, 158, 226, .7)
}

#team .team-list>ul>li.active::after {
    color: #3e6edf;
    content: "ï¡";
    font-family: fontawesome;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 50%
}

#team .team-list>ul>li>a>figure {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    width: 100px;
    position: relative
}

#team .team-info>h4 {
    color: #3a3a3a;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center
}

#team .team-img {
    position: relative
}

#team .team-img>img {
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#team .team-social>ul {
    bottom: 0;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    position: absolute;
    right: 30px;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#team .team-social>ul>li>a {
    border-radius: 50%;
    color: #3e6edf;
    display: block;
    font-size: 18px;
    height: 40px;
    margin: 15px 5px;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
#team .team-social>ul>li>a:hover {
    background: #3e6edf;
    color: #fff
}

#team .team-social>ul>li>a::after {
    border: 1px solid #dee3f4;
    border-radius: 50%;
    content: "";
    height: 50px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 50px
}

#team .team-single:hover .team-img>img {
    margin-left: -70px
}

#team .team-single:hover .team-social>ul {
    opacity: 1;
    right: 0
}

@media screen and (max-width:1200px) {
    #team {
        padding: 120px 0
    }
}

@media screen and (max-width:991px) {
    #team {
        padding: 90px 0
    }
    #team .col-md-5.col-sm-12.pull-right {
        float: none!important
    }
    #team .team-section-text {
        padding-bottom: 50px;
        padding-top: 0
    }
}

@media screen and (max-width:767px) {
    #team {
        padding: 60px 0
    }
    #team .team-section-text {
        padding-bottom: 30px;
        padding-top: 0
    }
    #team .team-single {
        margin: 30px auto 0;
        overflow: hidden;
        padding: 10px;
        width: 100%
    }
    #team .team-list {
        text-align: center
    }
    #team .team-list>ul>li {
        position: relative
    }
    #team .team-list>ul>li>a>figure {
        height: 65px;
        position: relative;
        width: 65px
    }
    #team .team-list>ul>li.active::after {
        margin-top: 10px;
        position: absolute;
        right: 30px!important;
        top: 100%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    #team .team-list>ul>li {
        display: inline-block;
        margin: 15px 0
    }
}










@media screen and (max-width: 1200px){
    #team {
    padding: 120px 0;
    }
}
@media screen and (max-width: 991px){
    #team {
            padding: 90px 0;
    }
    #team .team-section-text {
    padding-bottom: 50px;
    padding-top: 0;
}
}

/*fade in up '\*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.slide_service:hover {

 margin-top: -15px;
}

.credit a{
  color: #e45447;

}

.credit a:hover{
  color: #e45447;

}
.about-bg-front{
    background-color: #e45447;
    color: white;
}
.about-bg{
    color: #e45447;
    
}
/*/Experience Details/*/

.post-content-area .single-post {
    margin-bottom: 50px;
}
.post-content-area .single-post .meta-details {
    text-align: right;
    margin-top: 35px;
}
.post-content-area .single-post .meta-details .tags {
    margin-bottom: 30px;
}
.post-content-area .single-post .meta-details .tags li {
    display: inline-block;
    font-size: 17px;
}
.social_link ul li{
    list-style-type: none;
    display: inline-block;
    padding: 6px;

}
.social_link ul a{
    text-decoration: none;
    color: black;
}
.quotes {
    margin-top: 20px;
    padding: 30px;
   
}